header {
    margin: 0.1rem auto;
    background-color: #F2621D;
    border-radius: 20px;
    min-width: 15.8rem;
    max-width: 40rem;
    padding: 0.5rem;
}

.wrap-logo {
    display: flex;
    align-items: center;
    width: 100%;
    min-width: 380px;
    justify-content: space-between;
}

 .logo {
    height: 2.5rem;
    text-align: left;
    vertical-align: middle;  
}

.motto {
    font-family: "Bangers", system-ui;
    font-weight: 400;
    font-size: medium;
    font-style: normal;
    text-align: right;
}
 
.sticky-menu {
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 999;
    opacity: 0.7;
}

.menu {
    min-width: 3rem;
    max-width: 40rem;
    margin: 0 auto;
    text-align: center;
}

.menu p {
    display: inline;
    margin: 0 10px;
    font-family: "Bangers";
    font-weight: 900;
    font-size: 0.9rem;
    /*color: #F1C40F;*/
    color: #000000;

}


/*A:LINK SETTINGS*******************/
a:link {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    /*color: #F1C40F;*/
    color: #F2621D;
}



/*BODY STARTS*******************/

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.wrap-dog {
    text-align: center;
    opacity: 80%;    
    margin: 10% auto;
    margin-bottom: 0;
    height: 195%;
}

#dog {
    position: absolute;
    top: 25%;
    left: 0;
    width: 110%;
    z-index: -1;
    /*width: 150%;*/
   /* margin: 0 -60%;*/
}


/* BUTTONS *******************/

button:hover {
    background-color: bisque;
    color:#253D5B;
}

.one {
    margin-top: 25%;
    margin-left: 35%;
}

.two {
    margin-top: 15%;
    margin-left: -28%;
}

.three {
    margin-top: 18%;
    margin-left: 35%;
}

.button-first, .button-second, .button-third {
    background-color: #388659;
    border: none;
    color: white;
    width: 150px;
    height: 150px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 4px;
    cursor: context-menu;
    border-radius: 100px;
    z-index: 1;
}

/* FOOTER ********************/

.wrap-footer {
    background-color: #388659;
    border-radius: 25px;
    margin: 5% auto;
    width: 80%;
    min-width: 370px;
    padding: 5px;
    text-align: center;
}

.wrap-footer p {
    position: inherit;
    margin: 0 25px;
    font-family: "roboto";
}
