<header class="header-top">
    <div class="wrap-logo">    
      <a href="index.html"><img class="logo" id="logo" src="Img/Logo-long.png" alt="hot web logo"></a>
      <p class="motto">...serving up hot desing.</p>
    </div>
</header>
  <nav class="sticky-menu">
    <div class="menu">
      <a href="projects.html"><button class="menubtn">Projects</button></a> 
      <a href="index.html"><button class="menubtn">Who's the chef?</button></a> 
      <a href="hot-line.html"><button class="menubtn">Hot Line</button></a> 
    </div>
  </nav>

 